@charset "UTF-8";
/* CSS Document */

 /* ------------------------------- FONTS -------------------------------------------------------- */
h1 {
   font-family: 'Lato', sans-serif;
}
h2 {
      font-family: 'Roboto', sans-serif;
}
/* ------------------------------------------------------------------------------------------------ */


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}
/* <------------------------------- NAVIGATION -------------------------------> */

.main-nav nav {
	text-shadow: .2px .2px black;
}

.main-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
}
.main-nav nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.main-nav nav li a {
    display: block;
    color: #EE9D22;
    text-align: center;
    padding: 1em 4em;
    text-decoration: none;
    border-bottom: thick solid #F4BB9E;
}
.main-nav nav li a:hover:not(.active) {
    border-bottom: thick solid #EF4716;
    color: #EF4716;
    text-decoration: none;
}
.main-nav .nav-active {
    border-bottom: thick solid #EF4716;
}


/* <------------------------------- SIDE MOBILE NAVIGATION -------------------------------> */

.mobile-nav-bar {background-color: #EF4716;}

.mobile-nav {font-size:30px;
	cursor:pointer;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mobile-nav-bar {display: none;}

@media only screen and (max-width: 500px) {
    .main-nav {
        display:none;
    }
	
	 .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* <------------------------------------------------------------------------> */

/* <--------------------------- HOME PAGE -----------------------------------------> */

.home-page {
    margin: auto;
	z-index: 1;
	background-color: white;

}

.home-page body {
	background-color: white;
}
.home-page h1 {
	color: black;

    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 9em;
    padding-top: 15%;
}
.home-page h2 {
	color: black;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3em;
}
.home-page-bg {background-color: white;}

.slider {


}
.slide1,.slide2,.slide3,.slide4,.slide5 {
position: absolute;
  width: 100%;
  height: 100%;
	z-index: -999; 
}
.slide1 {
  background: url(http://res.cloudinary.com/dpdf1d6fv/image/upload/s--VK6rg5d2--/q_jpegmini:2/v1509508040/TEJ-10_bnuqwt.jpg)no-repeat center;
      background-size: cover;
    animation:fade 20s infinite;
-webkit-animation:fade 20s infinite;

} 
.slide2 {
  background: url(http://res.cloudinary.com/dpdf1d6fv/image/upload/s--z3mRzq8v--/q_jpegmini:2/v1509508029/TEJ-104_mcediw.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 20s infinite;
-webkit-animation:fade2 20s infinite;
}
.slide3 {
    background: url(http://res.cloudinary.com/dpdf1d6fv/image/upload/s--O074Owxs--/q_jpegmini:2/v1509508028/TEJ-50_hqmhlr.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 20s infinite;
-webkit-animation:fade3 20s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


/* <------------------------------------------------------------------------> */

/* <--------------------------- PORTFOLIO -----------------------------------------> */
.portfolio-nav {
    margin: auto;
    line-height: 1em;
	padding-top: 15%;
    font-family: 'Lato', sans-serif;
    font-size: 7em;
    text-align: center;
}
.portfolio-nav a {
	color: black;
    background-color: transparent;
    text-align: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.portfolio-nav a:hover {
    color: #EF4716;
	text-decoration: none;
}


.portfolio-header h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.portfolio-header h2 {
	padding-top: 10px;
	padding-bottom: 0;
	    font-family: 'Lato', sans-serif;
	color: black;
	font-size: 6em;
	 text-transform: uppercase;
	text-align: center;
}

.portfolio-header a {
	padding-top: 10px;
	font-family: 'Lato', sans-serif;
	color: black;
	text-transform: uppercase;
	text-align: center;
}

.portfolio-header a:hover {
    color: #EF4716;
	text-decoration: none;
	text-align: center;
}


.portfolio-header h3 {

	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 2.5em;

	text-align: center;
		
}




/* <--------------------------- Photo NAV -----------------------------------------> */



				/* <--------------------------- Photo -----------------------------------------> */





.gal-container {
    padding: 12px;
	
}
.gal-item {
    overflow: hidden;
    padding: 3px;
}
.gal-item .box {
    height: 350px;
    overflow: hidden;
}
.box img {
	
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}
.gal-item a:focus {
    outline: none;
		
}
.gal-item a:after {
       
	 font-family: 'Lato', sans-serif;
	content: attr(title);

    
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 1.5em;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after {
    opacity: 1;
}
.modal-open .gal-container .modal {
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body {
    padding: 0px;
}
.modal-open .gal-item button.close {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 1;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus {
    outline: none;
}
.modal-open .gal-item button.close span {
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow: none;
}
.gal-container .modal-dialogue {
    width: 80%;
}
.gal-container .description {
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
}
.gal-container .description h4 {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}

@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}

@media (max-width: 768px) {
.gal-container .modal-content {
    height: 250px;
}
}
/* Footer Style */
i.red {
    color: #BC0213;
}
.gal-container {
    padding-top : 75px;
    padding-bottom: 75px;
}
footer {
    font-family: 'Quicksand', sans-serif;
}
footer a, footer a:hover {
    color: #88C425;
}


/* <--------------------------- VIDEO -----------------------------------------> */

.video-gallery {
	margin: auto;
}

.video-gallery-item {
	 display: block;
    margin: 0 auto;
text-align: center;
	padding: 10px;
	 position: relative;
width:auto;
}



/* <--------------------------- CONTACT FORM -----------------------------------------> */



* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


.container-contact {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}



